.DS_Store
.vagrant/
*.pyc
*.retry
*.swp
*.swo
assets/
ansible/inventory.yml
chef/roles/node.json
chef/roles/bootstrap.json
chef/roles/headnode.json
chef/roles/worknode.json
chef/roles/storagenode.json
chef/environments/
chef/databags/
virtual/files/ssh/id_*
