###############################################################################
# managed by ansible
###############################################################################

[Resolve]
DNS={{ cloud_ip }} {{ dns['servers'] | join (' ') }}
FallbackDNS={{ dns['servers'] | join (' ') }}
Cache=no
#Domains=
#LLMNR=no
#MulticastDNS=no
#DNSSEC=no
#DNSStubListener=yes
