Acquire::http::Proxy "http://{{ local_proxy['config']['listen'] }}:{{ local_proxy['config']['port'] }}";
Acquire::https::Proxy "http://{{ local_proxy['config']['listen'] }}:{{ local_proxy['config']['port'] }}";
