{% if roles is defined and
    roles.bootstrap is defined and
    roles.bootstrap.run_list is defined -%}

  {%- for recipe in roles.bootstrap.run_list -%}
    {{ bootstrap.run_list.append(recipe) }}
  {%- endfor -%}

{% endif -%}
{{ bootstrap | to_nice_json }}
