{% if roles is defined and
    roles.headnode is defined and
    roles.headnode.run_list is defined -%}

  {%- for recipe in roles.headnode.run_list -%}
    {{ headnode.run_list.append(recipe) }}
  {%- endfor -%}

{% endif -%}
{{ headnode | to_nice_json }}
