{% if roles is defined and
    roles.node is defined and
    roles.node.run_list is defined -%}

  {%- for recipe in roles.node.run_list -%}
    {{ node.run_list.append(recipe) }}
  {%- endfor -%}

{% endif -%}
{{ node | to_nice_json }}
