{% if roles is defined and
    roles.storagenode is defined and
    roles.storagenode.run_list is defined -%}

  {%- for recipe in roles.storagenode.run_list -%}
    {{ storagenode.run_list.append(recipe) }}
  {%- endfor -%}

{% endif -%}
{{ storagenode | to_nice_json }}
