{% if roles is defined and
    roles.worknode is defined and
    roles.worknode.run_list is defined -%}

  {%- for recipe in roles.worknode.run_list -%}
    {{ worknode.run_list.append(recipe) }}
  {%- endfor -%}

{% endif -%}
{{ worknode | to_nice_json }}
